<div class="container">
    <header class="p-3 bg-dark text-white mb-5">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <img class="bi me-2" width="40" height="40" alt="Angular Logo"
                        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
                    <span class="fs-4">Payment App</span>
                </a>
                <!-- 
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="#" class="nav-link px-2 text-secondary">Payment Register</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">Payment Data</a></li>
                    </ul> -->

                <!-- <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Payment Register</button>
                    <button type="button" class="btn btn-warning">Payment Data</button>
                </div> -->
            </div>
        </div>
    </header>
    <main class="px-3">
        <router-outlet></router-outlet>
    </main>
    <footer class="my-5 pt-5 text-center ">
        OCBC NISP X Hacktiv8 2021, by <a href="https://github.com/clearyn" class="text-white">@clearyn</a>
    </footer>
    <div>&nbsp;</div>
</div>